<!DOCTYPE html>
<html>
<head>
	<title>The Dodo{% if experimental %} [Experimental channel]{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/style.css" />
	<!--[if lt IE 9]>
    <script src="/json2.js"></script>
	<![endif]-->
	<script src="/jquery.min.js"></script>
	<script src="/home.js"></script>
	{% if not denied %}<script>user = "{{ name }}";</script>{% else %}
	<style>html, body { width: 100%; height: 100%; overflow: hidden; }</style>{% endif %}
	<!-- If you want the source code of dodo you can find it at: github.com/Hamcha/dodo -->
	<!-- Thanks to Imperonism for the awesome logo! -->
</head>
<body>
	{% if denied %}
		<img src="/symbol.svg" class="symbol" />
		<table style="border: 0; width: 100%; height: 100%;"><tr><td style="vertical-align: middle;">
		<div id="container" style="width: 400px; text-align: center; font-size: .9em;">
		<header><!--<h1><span style="color: #999; font-weight: 300;">The</span> <i>Dodo</i></h1>-->
			<img src="/logo.svg" class="logo" />{% if experimental %}<div style="position: absolute;left: 50%;display: block;top: 10px; color: #F7225E; font-weight: 300; font-size: 1.25em;">[Experimental]</div>{% endif %}</header><br />
		{% if islogged %}
		Sorry <b>{{ name }}</b>.<br />You haven't been granted access to the <b><i>Dodo</i></b>.<br />
		If you logged into the wrong account, please <b>logout</b> using the following button and login again with the right account.<br /><br />
		<a href="{{ url }}" class="button bred">Logout</a>
		{% else %}
		Please <b>login</b> to use <b><i>Dodo</i></b><br /><br />
		<a href="{{ url }}" class="button bgreen">Login</a>
		{% endif %}
		</div>
	{% if experimental %}
	<center style="width:450px; margin: 0 auto;"><i>This is the <red>[Experimental channel]</red>, anything on this version is to be considered unstable and still in development.</i></center>
	{% endif %}
		</tr></td></table>
	{% else %}
		<div id="container">
		<header style="position:relative;"><!--<h1><span style="color: #999; font-weight: 300;">The</span> <i>Dodo</i></h1>-->
			<img src="/logo.svg" class="logo" />{% if experimental %}<div style="position: absolute;left: 50%;display: block;top: 0; color: #F7225E; font-weight: 300; font-size: 1.1em;">[Experimental]</div>{% endif %}</header><br />
		<div style="text-align:center; font-size: 1.3em; font-weight: 300;">Welcome back, <i>{{ name }}</i></div><br />
		<div id="buttons" style="text-align: center;">
			<a class="button bblue" id="newdoc">New document</a>
			<a class="button bgray" id="list" href="list">List all documents</a>
			<a class="button bgray" id="logout" href="{{ url }}">Logout</a>
		</div>
		<div id="newdocbox" style="text-align: center;"><hr />
			<header><h3>Document name</h3></header>
			<input class="newbox" type="text" style="width: 280px; margin: 10px 0;" id="sname" value="Untitled" /><br />
			<h4>Document URL</h4><br />
			<span id="newurl"></span><input class="newbox" type="text" id="surl" style="text-align: left; padding-left: 5px;width: 100px; margin: 10px 5px;" value="untitled"/><br />
			<a class="button bgreen" id="dodoc">Create page</a>
			<a class="button bred" id="canceldoc">Nevermind</a>
		<hr /></div>
		<br />
		<center><div class="box" style="width: 270px;"><header><h3>Last created</h3></header><br />
			{% for doc in lastc %}
			<a class="{% if doc.isfav %}fav {% else %}normal {% endif %}item" href="{{ doc.url }}">{{ doc.name }}<id>{{ doc.surl }}</id>{% if doc.isfav %}<favspot>!</favspot>{% endif %}</a>
			{% endfor %}
		</div>

		<div class="box" style="width: 270px;"><header><h3>Last modified</h3></header><br />
			{% for doc in lastm %}
			<a class="{% if doc.isfav %}fav {% else %}normal {% endif %}item" href="{{ doc.url }}">{{ doc.name }}<id>{{ doc.surl }}</id>{% if doc.isfav %}<favspot>!</favspot>{% endif %}</a>
			{% endfor %}
		</div>
		<div class="box" style="width: 270px;"><header><h3>Pinned docs</h3></header><br />
			{% for doc in lastfav %}
			<a class="{% if doc.isfav %}fav {% else %}normal {% endif %}item" href="{{ doc.url }}">{{ doc.name }}<id>{{ doc.surl }}</id>{% if doc.isfav %}<favspot>!</favspot>{% endif %}</a>
			{% endfor %}
		</div>
		</center><br /></div>
		{% if experimental %}
		<center style="width:900px; margin: 0 auto;"><i>This is the <red>[Experimental channel]</red>, anything on this version is to be considered unstable and still in development.</i></center>
		{% endif %}
	{% endif %}
</body>
</html>